<footer>
  <p>RANK</p>

  <?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 20.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#24292E;}
	.st1{fill:#EC0C8E;}
</style>
<path class="st0" d="M399.1,619.5V147.3c0-7.8,6.2-14.2,14-14.5c56.7-2,266.1,0.9,266.1,152.2c0,130.7-183.2,140.6-236.6,140.7
	c-8,0-14.5,6.5-14.5,14.5v179.3c0,8-6.5,14.5-14.5,14.5h0C405.6,634,399.1,627.5,399.1,619.5z"/>
<path class="st1" d="M629.3,630.4L629.3,630.4c6.4-6.4,4-19.3-5.4-28.7L451.6,429.3c-9.4-9.4-22.3-11.8-28.7-5.4l0,0
	c-6.4,6.4-4,19.3,5.4,28.7L600.6,625C610,634.5,622.9,636.9,629.3,630.4z"/>
<path class="st1" d="M689.3,630.4L689.3,630.4c6.4-6.4,3.2-20.2-7.3-30.7L489.7,407.4c-10.5-10.5-24.2-13.8-30.7-7.3l0,0
	c-6.4,6.4-3.2,20.2,7.3,30.7l192.3,192.3C669.2,633.6,682.9,636.9,689.3,630.4z"/>
<path class="st1" d="M569.3,630.4L569.3,630.4c6.4-6.4,5.8-17.6-1.5-24.8l-133-133c-7.3-7.3-18.4-7.9-24.8-1.5h0
	c-6.4,6.4-5.8,17.6,1.5,24.8l133,133C551.8,636.2,562.9,636.9,569.3,630.4z"/>
<path class="st0" d="M399.1,619.5V147.3c0-7.8,6.2-14.2,14-14.5c56.7-2,266.1,0.9,266.1,152.2c0,130.7-178.2,140.6-231.6,140.7
	c-8,0-14.5,6.5-14.5,14.5v179.3c0,8-11.5,14.5-19.5,14.5h0C405.6,634,399.1,627.5,399.1,619.5z"/>
</svg>

</footer>