<header class="header">

  <div class="top-bar">
      <ul class="">
        <li class="logo">
          <a href="/" class="icon">
          <i class="fa  fa-sign-out" ></i>
          </a>
        </li>
        <li> <a href="/add">Blog</a> </li>

          {{#if user}}
            <li class="user-action"><a href="/account"><i class="fa  fa-user" ><span>{{user.name}}</span></i></a></li>
            <li class="user-action"><a href="#"><i class="fa  fa-sign-out" ></i></a></li>
          {{else}}
          <li class="user-action"><a href="/login">Login</a></li>
          <li class="user-action"><a href="/registe">Registe</a></li>
          {{/if}}

  </div>
</header>

{{!-- <svg version="1.1" width="45" height="45" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  x="0px" y="0px" viewBox="0 0 52.5 87.2" style="enable-background:new 0 0 52.5 87.2;" xml:space="preserve">
  <style type="text/css">
    .st0 {
      fill: #24292E;
    }

    .st1 {
      fill: #EC0C8E;
    }
  </style>
  <path class="st0" d="M-1384,541.5V69.3c0-7.8,6.2-14.2,14-14.5c56.7-2,266.1,0.9,266.1,152.2c0,130.7-183.2,140.6-236.6,140.7
	c-8,0-14.5,6.5-14.5,14.5v179.3c0,8-6.5,14.5-14.5,14.5l0,0C-1377.5,556-1384,549.5-1384,541.5z" />
  <path class="st1" d="M-1153.8,552.4L-1153.8,552.4c6.4-6.4,4-19.3-5.4-28.7l-172.3-172.4c-9.4-9.4-22.3-11.8-28.7-5.4l0,0
	c-6.4,6.4-4,19.3,5.4,28.7l172.3,172.4C-1173.1,556.5-1160.2,558.9-1153.8,552.4z" />
  <path class="st1" d="M-1093.8,552.4L-1093.8,552.4c6.4-6.4,3.2-20.2-7.3-30.7l-192.3-192.3c-10.5-10.5-24.2-13.8-30.7-7.3l0,0
	c-6.4,6.4-3.2,20.2,7.3,30.7l192.3,192.3C-1113.9,555.6-1100.2,558.9-1093.8,552.4z" />
  <path class="st1" d="M-1033.9,552.4L-1033.9,552.4c6.4-6.4,2.7-20.6-8.3-31.6l-202.1-202.1c-11-11-25.2-14.7-31.6-8.3l0,0
	c-6.4,6.4-2.7,20.6,8.3,31.6l202.1,202.1C-1054.5,555.1-1040.3,558.9-1033.9,552.4z" />
  <path class="st1" d="M-1213.8,552.4L-1213.8,552.4c6.4-6.4,5.8-17.6-1.5-24.8l-133-133c-7.3-7.3-18.4-7.9-24.8-1.5l0,0
	c-6.4,6.4-5.8,17.6,1.5,24.8l133,133C-1231.3,558.2-1220.2,558.9-1213.8,552.4z" />
  <path class="st1" d="M-1273.8,552.4L-1273.8,552.4c6.4-6.4,7.9-15.5,3.2-20.1l-85.5-85.6c-4.7-4.7-13.7-3.2-20.1,3.2l0,0
	c-6.4,6.4-7.9,15.5-3.2,20.1l85.5,85.6C-1289.2,560.3-1280.2,558.9-1273.8,552.4z" />
  <path class="st0" d="M-1384,541.5V69.3c0-7.8,6.2-14.2,14-14.5c56.7-2,266.1,0.9,266.1,152.2c0,130.7-183.2,140.6-236.6,140.7
	c-8,0-14.5,6.5-14.5,14.5v179.3c0,8-6.5,14.5-14.5,14.5l0,0C-1377.5,556-1384,549.5-1384,541.5z" />
  <path class="st0" d="M-1386,1089.5V617.3c0-7.8,6.2-14.2,14-14.5c56.7-2,266.1,0.9,266.1,152.2c0,130.7-183.2,140.6-236.6,140.7
	c-8,0-14.5,6.5-14.5,14.5v179.3c0,8-6.5,14.5-14.5,14.5l0,0C-1379.5,1104-1386,1097.5-1386,1089.5z" />
  <path class="st1" d="M-1146.8,1104.5L-1146.8,1104.5c4.2-4.2-0.4-15.7-11.4-25.6L-1340,897c-8.9-9.9-20.3-14.5-24.6-10.3l0,0
	c-4.2,4.2,0.4,15.7,10.3,25.6l181.8,181.8C-1162.4,1104-1151,1108.7-1146.8,1104.5z" />
  <path class="st1" d="M-1093.3,1102.4L-1093.3,1102.4c4.2-4.2-0.9-16.1-12.5-26.7l-192.5-192.5c-9.4-10.4-21.4-15.6-25.6-11.3l0,0
	c-4.2,4.2,0.9,16.1,11.4,26.6L-1120,1091C-1109.4,1101.5-1097.5,1106.7-1093.3,1102.4z" />
  <path class="st1" d="M-1196.8,1104.5L-1196.8,1104.5c4.2-4.2,0.8-14.4-8.5-22.7l-153.3-153.3c-7.4-8.4-17.6-11.8-21.8-7.6l0,0
	c-4.2,4.2-0.8,14.4,7.5,22.8l153.3,153.3C-1211.2,1105.3-1201,1108.7-1196.8,1104.5z" />
  <path class="st1" d="M-1247.7,1104.5L-1247.7,1104.5c4.2-4.2,2.8-12.4-3.9-18.1L-1359.9,978c-5.1-6.1-13.3-7.5-17.5-3.3l0,0
	c-4.2,4.2-2.8,12.4,3.1,18.3l108.3,108.4C-1260.1,1107.3-1251.9,1108.7-1247.7,1104.5z" />
  <path class="st0" d="M-1386,1089.5V617.3c0-7.8,6.2-14.2,14-14.5c56.7-2,266.1,0.9,266.1,152.2c0,130.7-183.2,140.6-236.6,140.7
	c-8,0-14.5,6.5-14.5,14.5v179.3c0,8-6.5,14.5-14.5,14.5l0,0C-1379.5,1104-1386,1097.5-1386,1089.5z" />
  <path class="st0" d="M-1741.9,541.5V69.3c0-7.8,6.2-14.2,14-14.5c56.7-2,266.1,0.9,266.1,152.2c0,130.7-183.2,140.6-236.6,140.7
	c-8,0-14.5,6.5-14.5,14.5v179.3c0,8-6.5,14.5-14.5,14.5l0,0C-1735.4,556-1741.9,549.5-1741.9,541.5z" />
  <path class="st1" d="M-1511.7,552.4L-1511.7,552.4c6.4-6.4,4-19.3-5.4-28.7l-172.3-172.4c-9.4-9.4-22.3-11.8-28.7-5.4l0,0
	c-6.4,6.4-4,19.3,5.4,28.7l172.3,172.4C-1531,556.5-1518.1,558.9-1511.7,552.4z" />
  <path class="st1" d="M-1451.7,552.4L-1451.7,552.4c6.4-6.4,3.2-20.2-7.3-30.7l-192.3-192.3c-10.5-10.5-24.2-13.8-30.7-7.3l0,0
	c-6.4,6.4-3.2,20.2,7.3,30.7l192.3,192.3C-1471.8,555.6-1458.1,558.9-1451.7,552.4z" />
  <path class="st1" d="M-1571.7,552.4L-1571.7,552.4c6.4-6.4,5.8-17.6-1.5-24.8l-133-133c-7.3-7.3-18.4-7.9-24.8-1.5l0,0
	c-6.4,6.4-5.8,17.6,1.5,24.8l133,133C-1589.2,558.2-1578.1,558.9-1571.7,552.4z" />
  <path class="st0" d="M-1741.9,541.5V69.3c0-7.8,6.2-14.2,14-14.5c56.7-2,266.1,0.9,266.1,152.2c0,130.7-178.2,140.6-231.6,140.7
	c-8,0-14.5,6.5-14.5,14.5v179.3c0,8-11.5,14.5-19.5,14.5l0,0C-1735.4,556-1741.9,549.5-1741.9,541.5z" />
  <path class="st0" d="M-1778.2,519.8l-186.4-186.4c62.5-16.1,124.6-51.2,124.6-127.4l0,0l0,0c0-151.3-209.4-154.2-266-152.2
	c-7.8,0.3-14,6.7-14,14.5l0,0v472.2l0,0c0,8,6.5,14.5,14.5,14.5s14.5-6.5,14.5-14.5l0,0v-47l61.1,61.1c4.7,4.7,13.7,3.2,20.1-3.2
	s7.9-15.5,3.2-20.1l-84.4-84.5v-13.3l116.4,116.4c7.3,7.3,18.4,7.9,24.8,1.5s5.8-17.6-1.5-24.8l-133-133c-2-2-4.3-3.5-6.7-4.5v-15.6
	c0.1,0.1,0.1,0.1,0.2,0.2l172.3,172.3c9.4,9.4,22.3,11.8,28.7,5.4c6.4-6.4,4-19.3-5.4-28.7l-172.3-172.4c-1.3-1.3-2.8-2.5-4.2-3.6
	c4.2-0.1,9.1-0.2,14.4-0.4c1.3,1.9,2.9,3.7,4.6,5.4l192.3,192.3c10.5,10.5,24.2,13.8,30.7,7.3c6.4-6.4,3.2-20.2-7.3-30.7l-178-177.7
	c3.8-0.5,7.7-1,11.6-1.6l201.8,201.9c11,11,25.2,14.7,31.6,8.3C-1763.5,545-1767.2,530.8-1778.2,519.8z" />
  <path class="st0" d="M-1863.9,587.2c-7.8,0.3-14,6.7-14,14.5V822l52.9,10l6,48.1c58.1-0.7,221.2-13.4,221.2-140.7
	C-1597.8,588.1-1807.2,585.2-1863.9,587.2z" />
  <g>
    <path class="st1" d="M-1703.7,1075.7c12.1,12.2,28.7,15.3,37,7c8.2-8.2,5.2-24.9-7-37l-204.2-204.3v60.1L-1703.7,1075.7z" />
    <path class="st1" d="M-1598.8,1043.1l-247.8-247.8c-10-10-22.2-14.9-31.3-13.4v42.4c0.4,0.4,0.7,0.8,1.1,1.2l247.8,247.8
		c13.7,13.5,31.3,17.8,39.6,9.4C-1581.2,1074.4-1585.3,1056.6-1598.8,1043.1z" />
    <path class="st1" d="M-1776,1080.7c9.4,9.4,23.7,10.3,32,1.9c8.2-8.2,7.5-22.7-1.9-32l-131.9-131.9v60L-1776,1080.7z" />
  </g>
  <path class="st1" d="M-117.9,452.9L-117.9,452.9c9-8.5,4.5-26.8-10.2-40.8l-269.6-255.3c-14.7-13.9-33.9-18.3-43-9.7l0,0
	c-9,8.5-4.5,26.8,10.2,40.8L-161,443.2C-146.1,457.2-126.9,461.5-117.9,452.9z" />
  <g>
    <path class="st1" d="M-212.8,412.1l-237.5-225v62.2l204.7,193.9c14.9,13.9,34.1,18.3,43,9.7C-193.6,444.4-198.1,426.1-212.8,412.1z
		" />
    <path class="st1" d="M-332,443.2c14.9,13.9,34.1,18.3,43,9.7c9-8.5,4.5-26.8-10.2-40.8l-151.1-143.2v62.2L-332,443.2z" />
  </g>
  <path class="st0" d="M-459.2,442.8V-29.4c0-7.8,6.2-14.2,14-14.5c56.7-2,266.1,0.9,266.1,152.2c0,130.7-162.2,140.6-215.6,140.7
	c-8,0-14.5,6.5-14.5,14.5v179.3c0,8-19.5,14.5-27.5,14.5l0,0C-444.7,457.3-459.2,450.8-459.2,442.8z" />
  <path class="st0" d="M4.4,0.6C3.1,0.6,2,1.7,2,3v37.6l9,1.7l1,8.2c9.9-0.1,37.8-2.3,37.8-24C49.8,0.7,14.1,0.2,4.4,0.6z" />
  <g>
    <path class="st1" d="M31.8,84c2.1,2.1,4.9,2.6,6.3,1.2c1.4-1.4,0.9-4.3-1.2-6.3L2,44v10.3L31.8,84z" />
    <path class="st1" d="M49.7,78.4L7.3,36.1c-1.7-1.7-3.8-2.5-5.3-2.3v7.2c0.1,0.1,0.1,0.1,0.2,0.2l42.3,42.3c2.3,2.3,5.3,3,6.8,1.6
		C52.7,83.8,52,80.8,49.7,78.4z" />
    <path class="st1" d="M19.4,84.9c1.6,1.6,4,1.8,5.5,0.3c1.4-1.4,1.3-3.9-0.3-5.5L2,57.2v10.2L19.4,84.9z" />
  </g>
</svg> --}}