<header class="header">
  <h1 class="title">
    ibnHamdan
  </h1>
  <div class="menu-centered">
    <ul class="menu">
      <li><a href="/" class="page-link">Home</a></li>
      <li><a href="/" class="page-link">Blog</a></li>
      <li><a href="/" class="page-link">Project</a></li>
      <li><a href="/" class="page-link">Contact</a></li>
    </ul>
  </div>
</header>