<header class="header">
  <h1 class="title">
    Rank
  </h1>
  <div class="menu-centered">
    <ul class="menu">
      <li><a href="/" class="page-link">Home</a></li>
      <li><a href="/add" class="page-link">Blog</a></li>
      <li><a href="/registe" class="page-link">Registe</a></li>
      <li><a href="/login" class="page-link">Login</a></li>
    </ul>
  </div>
</header>