<header class="header">
  <div class="hero">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 103.76 165.45">
      <defs>
        <style>
          .cls-1 {
            fill: #9ab377;
          }

          .cls-2 {
            fill: #7e9d63;
          }

          .cls-3 {
            fill: #313a26;
          }

          .cls-4 {
            fill: #ec0c8e;
          }

          .cls-5 {
            fill: #d816b4;
          }
        </style>
      </defs>
      <title>cactus</title>
      <g id="Layer_1_copy" data-name="Layer 1 copy">
        <path class="cls-1" d="M291.92,383.17s-14.18-15.79-16.54-29.92-5.8-46.33,25.57-44.88,28.58,48.62,4.3,72.51C301.8,384.42,291.92,383.17,291.92,383.17Z"
          transform="translate(-237.01 -278.56)" />
        <path class="cls-2" d="M305.24,380.89s13.5-14.38,16-26.85,3.85-12.63,1.51-27.42a26.58,26.58,0,0,0-16.61-17.52c-1.58,2.38,13.7,13.6,11.8,33.46s-9,36.14-18.25,40A5.71,5.71,0,0,0,305.24,380.89Z"
          transform="translate(-237.01 -278.56)" />
        <path class="cls-1" d="M306,311.26s-.92-11.57,2.91-18.36,13.43-21.59,27.06-10.15-4,30.41-23.17,32.13C310,315.2,306,311.26,306,311.26Z"
          transform="translate(-237.01 -278.56)" />
        <path class="cls-1" d="M275,331.89s-14.8-.9-22.72-7.12-25-21.42-8.08-37.11,37.8,10.68,36.59,36C280.71,327.36,275,331.89,275,331.89Z"
          transform="translate(-237.01 -278.56)" />
        <path class="cls-2" d="M280.86,315.31l-.93-3c-2.46-8-3.41-16.46-11.64-23-7.62-6.32-14.61-6.24-14.61-6.24.31,2.08,12.77,3.7,19.07,16.48s4.61,13.81,3.59,20.86C276.33,320.36,280.91,317.86,280.86,315.31Z"
          transform="translate(-237.01 -278.56)" />
        <path class="cls-3" d="M246.93,295.12c-.07-.54-7.44,1.62-8.05,2.44S246.93,295.12,246.93,295.12Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M246.91,295.14c-.09-.49-7.48-4.86-8.07-4.72S246.91,295.14,246.91,295.14Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M270.16,303.45c.1-.46-4.95-3.71-5.54-3.49S270.16,303.45,270.16,303.45Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M269.83,304.22c.52-.16-1.22-13-2-14.07S269.83,304.22,269.83,304.22Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M272.75,322.77c-.08-.62-8.19.42-8.87,1.23S272.75,322.77,272.75,322.77Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M274,323.91c.31-.41-4.25-10.86-5-11.38S274,323.91,274,323.91Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M251.23,319.32c0-.56-5.59,2.16-6.09,3.05S251.23,319.32,251.23,319.32Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M251.18,319.51c.37-.4-5.23-2.92-6.19-2.71S251.18,319.51,251.18,319.51Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M260.65,307.83c.41-.31-5.38-8.85-6.4-9.31S260.65,307.83,260.65,307.83Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M260.62,307.87c-.09-.5-10.66-.16-11.56.44S260.62,307.87,260.62,307.87Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-2" d="M312.77,314.89s11.06-1.42,16.5-5.83,6.11-4,10.18-11.07A14.2,14.2,0,0,0,338,284.86c-1.53.46,1.46,10.48-6.27,18.22s-16.58,12.16-22.07,10.61A3.4,3.4,0,0,0,312.77,314.89Z"
          transform="translate(-237.01 -278.56)" />
        <path class="cls-3" d="M289.78,335.94c.24-.26-4.58-5.33-5.31-5.51S289.78,335.94,289.78,335.94Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M288.06,323.84c.28.29,6.08-5.1,6.32-5.93S288.06,323.84,288.06,323.84Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M290.94,336.82c.35.06,2.42-6.52,2.22-7.22S290.94,336.82,290.94,336.82Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M277.35,329.57c.24-.26-4.58-5.33-5.31-5.51S277.35,329.57,277.35,329.57Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M277.38,329.58c.35.06,2.42-6.52,2.22-7.22S277.38,329.58,277.38,329.58Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M313.92,361c.43-.15-1.55-9-2.22-9.69S313.92,361,313.92,361Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M312.92,363.08c.34.3,6.87-5.94,7.1-6.87S312.92,363.08,312.92,363.08Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M301.42,372.88c.4-.48-7.28-11-8.46-11.48S301.42,372.88,301.42,372.88Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M301.84,375.36c.57.17,4.32-12.44,4-13.83S301.84,375.36,301.84,375.36Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M286.79,354.44c.53-.11,0-9.55-.6-10.32S286.79,354.44,286.79,354.44Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M287.1,357.43c.38-.37-6.38-7.24-7.45-7.48S287.1,357.43,287.1,357.43Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M312.74,349.28c.39-.37-6.43-6.31-7.52-6.46S312.74,349.28,312.74,349.28Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M330.62,285.65c.4-.11-2-5.59-2.7-6S330.62,285.65,330.62,285.65Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M330.61,285.63c.36-.12,2.85-6.31,2.68-6.75S330.61,285.63,330.61,285.63Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M326.86,304.52c.36,0,2.26-4.22,2-4.66S326.86,304.52,326.86,304.52Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M326.25,304.35c.17.39,9.67-2.31,10.38-3S326.25,304.35,326.25,304.35Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M312.6,308.55c.46-.12-1.2-6.31-1.88-6.75S312.6,308.55,312.6,308.55Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M311.87,309.6c.35.2,7.72-4.43,8-5.1S311.87,309.6,311.87,309.6Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M312.87,291.51c.42-.08-2.23-4.11-3-4.4S312.87,291.51,312.87,291.51Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M312.73,291.5c.34.25,1.63-4.36,1.37-5.08S312.73,291.5,312.73,291.5Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M288.66,321.74c.37-.12-1-8.28-1.58-8.92S288.66,321.74,288.66,321.74Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M311.64,323.35c.28.29,6.08-5.1,6.32-5.93S311.64,323.35,311.64,323.35Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M312.24,321.25c.37-.12-1-8.28-1.58-8.92S312.24,321.25,312.24,321.25Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M322.54,297.61c.28.29,6.08-5.1,6.32-5.93S322.54,297.61,322.54,297.61Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M322.5,297.59c.37-.12-1-8.28-1.58-8.92S322.5,297.59,322.5,297.59Z" transform="translate(-237.01 -278.56)"
        />
        <path class="cls-3" d="M312.35,335c.57.06,1.42-9.58.85-10.56S312.35,335,312.35,335Z" transform="translate(-237.01 -278.56)"
        />
      </g>
      <g id="Layer_4" data-name="Layer 4">
        <path class="cls-4" d="M326.75,402l-4.58,33.24A10.15,10.15,0,0,1,312.12,444H285.4a10.15,10.15,0,0,1-10.05-8.76L270.75,402a10,10,0,0,1-10-10h0a10,10,0,0,1,10-10h56a10,10,0,0,1,10,10h0A10,10,0,0,1,326.75,402Z"
          transform="translate(-237.01 -278.56)" />
        <path class="cls-5" d="M311.64,444c5.06.26,9.36-3.74,10.05-8.76L326.28,402a10,10,0,0,0,10-10h0a10,10,0,0,0-10-10H312.75s6.17,2.75,5.21,11-5.62,5.75-5.66,9.75S306.79,443.75,311.64,444Z"
          transform="translate(-237.01 -278.56)" />
      </g>
    </svg>
    <h1 class="title">
      Rank
    </h1>
    
    {{#if user}}
      <h4>
      {{user.email}}
      </h4>
    {{/if}}

  </div>
  <div class="menu-centered">
    <ul class="menu">
      <li><a href="/" class="page-link">Home</a></li>
      <li><a href="/add" class="page-link">Blog</a></li>
      {{#if user}}
      <li><a href="/dashboard" class="page-link">Account</a></li>
      <li><a href="/logout" class="page-link">Logout</a></li>
      {{else}}
      <li><a href="/registe" class="page-link">Registe</a></li>
      <li><a href="/login" class="page-link">Login</a></li>
      {{/if}}
      
    </ul>
  </div>
</header>