<header class="subnav-hero-section">
  <h1 class="subnav-hero-headline">Rank</h1>
  <ul class="subnav-hero-subnav">
    <li><a href="/">Home</a></li>
    <li><a href="/articles" class="is-active">Articles</a></li>
    <li><a href="/add">Add Article</a></li>
  </ul>
</header>