<div class="row">
    <div class="small-10 medium-6 small-centered columns rank-form">
        <h3 class="text-center">Profile</h3>
        <form id="account" name="account" method="POST" enctype="multipart/form-data">
            {{#if user.photo}}
            <div class="user-photo">
                <img src="uploads/{{user.photo}}" alt="">

                <div class="action">
                    <label for="photo">رفع صوره</label>
                    <input type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg">
                </div>

            </div>
            {{else}}
            <div class="photo-field">
                <label for="photo" class="fa fa-user-circle-o"></label>
                <input type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg">
            </div>
            {{/if}}


            <div class="field">
                <input class="text" name="email" type="text" value={{user.email}} />
                <svg viewBox="0 0 20 20" class="field-icon">
                    <path ></path>
                </svg>
            </div>

            <div class="field">
                <input type="text" name="name" value={{user.name}}>
                <svg viewBox="0 0 20 20" class="field-icon">
                    <path ></path>
                </svg>
            </div>

            <input class="button" type="submit" value="Update my account" />
        </form>
    </div>
</div>