<div class="row">
    <div class="smll-6 centered columns">
        <form method="POST">
            <label for="subject">Subject</label>
            <input type="text" name="subject" id="subject" autofocus>
            <label for="content">Content</label>
            <textarea name="content" id="content" rows="7"></textarea>
            <br>
            <button type="submit" class="button">Add Article</button>
        </form>
    </div>
</div>