
<div class="row">
    <div class="small-10 medium-6 small-centered columns rank-form">
        <h3 class="text-center">Write New Post</h3>
        <form id="account" name="account" method="POST" enctype="multipart/form-data">
            <div class="photo-field">
                <label for="photo" class="fa fa-photo"></label>
                <input type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg">
            </div>

            <div class="field">
                <input type="text" name="title" id="title" placeholder="Title">
                <svg viewBox="0 0 20 20" class="field-icon">
                    <path ></path>
                </svg>
            </div>

            <div class="field">
                 <textarea name="content" id="content" rows="7" placeholder="Content"></textarea>
                <svg viewBox="0 0 20 20" class="field-icon">
                    <path ></path>
                </svg>
            </div>

            <button type="submit" class="button">Add Article</button>
        </form>
    </div>
</div>