<div class="row">
    {{#each posts}}
    <div class="small-4 large-3">
        <div class="post-card">
            <div class="post-thumbnail">
                <a href="#"><img src="uploads/{{this.photo}}" alt=""></a>
            </div>
            <div class="post-text">
                <div class="post-like">
                    <sapn class="like-icon"></sapn>
                    <span class="like-text">Liked by ibnHamdan and 3 others</span>
                </div>
                <div class="post-title">
                    <a href="#"><h3>{{this.title}} </h3></a>
                </div>
                <div class="post-summary">
                    <p>{{this.content}}</p>
                </div>
            </div>
            
            <section class="post-info">
                <span class="author">
                    <span class="author-icon"></span>
                    <span class="author-name">{{this.name}} ibnHamdan</span>
                </span>
            </section>
            <section class="post-actions">
                <span class="action">
                    <span class="action-icon">add to read List</span>
                </span>
            </section>
            
        </div>
    </div>

    {{/each}}
</div>



<script>
    const created = Array.from(document.querySelectorAll('.created'));
    
    const cretedDate =created
    .map(function(node) {
        //node.innerText;
        const [dayName, month, day, year, time, GMT, area] =node.innerText.split(' ');
        node.innerText = `${month} ${year}`;
    });
    
</script>
