<div class="row">
    {{#each result}}
    <div class="small-6 medium-4 columns">
        <div class="article-card">
            <div class="article-image">
                <img src="" alt="">
                <span class="label card-tag"></span>
            </div>
            <div class="aticle-section">
                <div class="aticle-title">{{this.title}}</div>
                <div class="article-content">
                    <spna class="created">{{this.id}}</spna>
                </div>
                <p class="article-content">{{this.body}}</p>
            </div>
            <div class="card-action">
                <i class="fa fa-heart-o"></i>
            </div>
        </div>
    </div>
    {{/each}}
</div>