<div class="row">
    <div class="small-6 meduime-4 columns">
        <div class="article-card">
            <div class="article-image">
                <img src="" alt="">
                <span class="label card-tag"></span>
            </div>
            <div class="aticle-section">
                <div class="aticle-title">Article Title</div>
                <div class="article-content">
                    <spna class="created">day</spna>
                </div>
                <p class="article-content">Article Contetn</p>
            </div>
            <div class="card-action">
                <i class="fa fa-heart-o"></i>
            </div>
        </div>
    </div>
</div>