<div class="row">
    <div class="medium-4 small-centered columns rank-form">
        <h3 class="text-center">Login</h3>
        <form id="login" name="login" method="post" action="login">
            <div class="field">
                <input class="text" name="email" type="email" placeholder="Email Address" required/>
                <svg viewBox="0 0 20 20" class="field-icon">
                    <path ></path>
                </svg>
            </div>


            <div class="field">
                <input name="password" type="password" placeholder="Password" required />
                <svg viewBox="0 0 20 20" class="field-icon">
                    <path ></path>
                </svg>
            </div>
            <input class="button" type="submit" value="LogIn" />
        </form>

    </div>
</div>