<div class="row">
    <div class="smll-6 centered columns">
        <form method="POST">
            <h1>Come as author</h1>
            <label for="name">name</label>
            <input type="text" name="name" id="name" >
            <label for="password">Password</label>
            <input type="password" name="password" id="subject" >
            <label for="email">Email</label>
            <input type="email" name="email" id="email" >
            
            <br>
            <button type="submit" class="button">Regist</button>
        </form>
    </div>
</div>