<div class="row">
    <div class="smll-6 centered columns">
        <form id="registe" name="registe" method="post" action="registe">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="email" />
        <label for="name">name</label>
        <input name="name" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <label for="photo">Photo</label>
        <input type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg">
        <select name="role" id="role">
            <option value="admin" >admin</option>
            <option value="user" selected>user</option>
            <option value="diabled">disabled</option>
        </select>
        <input class="button" type="submit" value="Registe" />
    </form>
    </div>
</div>