<div class="row">
    <div class="medium-6 small-centered columns rank-form">
        <form id="registe" name="registe" method="post" action="registe">
            <h3>Registe</h3>
            <div class="field">
                <input class="text" name="email" type="email" required placeholder="Email Address" />
                <svg viewBox="0 0 20 20" class="field-icon">
                    <path></path>
                </svg>
            </div>

            <div class="field">
                <input name="name" type="text" placeholder="Name" required />
                <svg viewBox="0 0 20 20" class="field-icon">
                    <path></path>
                </svg>
            </div>

            <div class="field">
                <input name="password" type="password" placeholder="Password" required/>
                <svg viewBox="0 0 20 20" class="field-icon">
                    <path></path>
                </svg>
            </div>

            <div class="field">

                <input name="password" type="password" placeholder="Password-confirm" required/>
                <svg viewBox="0 0 20 20" class="field-icon">
                    <path></path>
                </svg>
            </div>

        {{!-- <select name="role" id="role">
            <option value="admin" >admin</option>
            <option value="user" selected>user</option>
            <option value="diabled">disabled</option>
        </select> --}}
        <input class="button" type="submit" value="Registe" />
    </form>
    </div>
</div>