<div class="row">
    <div class="smll-6 centered columns">
        <form id="registe" name="registe" method="post" action="registe">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="email" />
        <label for="name">name</label>
        <input name="name" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="button" type="submit" value="Registe" />
    </form>
    </div>
</div>