@mixin header() {
  header {
    .top-bar {
      margin-bottom: 2rem;
      ul {
        list-style: none;
        display: flex;


        li {
          flex: 1;
        }

        li.logo {
          flex: 8 1 ;
        }

        li.user-action {
          display: flex;
          justify-content: center;


        }
      }
      }
    }
  }
