@mixin header() {
  .header {
    position: relative;
    width: 100%;
    height: rem-calc(300);
    color: $white;
    text-align: center;
    background-color: lighten($primary-color, 10%);
      .title {
        vertical-align: middle;
        line-height: rem-calc(250);
      }
      .menu-centered {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: rem-calc(50);
        background: rgba($primary-color, 1);
        li {
          &:hover {
            border: 1px solid $white;
            border-radius: 10px;
          }
        }
        a {
          color: $white;
          line-height: 1.5;
          }
      }
  }
}
