.rank-post {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.post-title {

}

.post-info {
  display: flex;

  .post-author {
    a.author-thumnail{
      img {
        border-radius: 50%;
      }
    }
  }
}
